.Header {
  background-color: yellow;
  height: 90px;
}

@media only screen and (max-width: 480px) {
  .Header {
    background-color: orange;
    position: sticky;
    word-wrap: none;
    max-width: 480px;
    height: 90px;
    text-align: center;
  }
}